<?xml version="1.0"?>
<launch>

  <arg name="2d_laser"        default="$(env SLEO_LASER)"            doc="default values [sicklmsxx]"/>
  <arg name="2d_laser_enable"    default="$(env SLEO_LASER_ENABLE)"     doc="default value [true]"/>
  <arg name="scan_topic"      default="/scan_filtered" />

  <!--- Run gmapping -->
  <group if="$(arg 2d_laser_enable)">
    <include file="$(find sleo_navigation)/launch/includes/$(arg 2d_laser)_gmapping.launch">
      <arg name="scan_topic"      value="$(arg scan_topic)" />
    </include>

    <node pkg="laser_filters" type="scan_to_scan_filter_chain"
        name="laser_filter">
      <rosparam command="load" file="$(find sleo_bringup)/param/laser/$(arg 2d_laser)/laser.yaml" />
    </node>
  </group>

  <!--- Run Move Base -->
  <include file="$(find sleo_navigation)/launch/move_base.launch">
    <arg name="2d_laser"        value="$(arg 2d_laser)"/>
    <arg name="2d_laser_enable" value="$(arg 2d_laser_enable)"/>
  </include>

</launch>
